.vs/Stone.Charging/v15/Server/sqlite3/storage.ide-wal
.vs/Stone.Charging/v15/Server/sqlite3/storage.ide-shm
.vs/Stone.Charging/v15/Server/sqlite3/storage.ide
.vs/Stone.Charging/v15/Server/sqlite3/db.lock
Stone.Charging.Messages/obj/project.assets.json
Stone.Charging.Messages/obj/Stone.Charging.Messages.csproj.nuget.g.targets
Stone.Charging.Messages/obj/Stone.Charging.Messages.csproj.nuget.g.props
Stone.Charging.Messages/obj/Debug/netstandard2.0/Stone.Charging.Messages.AssemblyInfo.cs
Stone.Charging.WebApi/obj/project.assets.json
Stone.Charging.WebApi/obj/Stone.Charging.WebApi.csproj.nuget.g.targets
Stone.Charging.WebApi/obj/Stone.Charging.WebApi.csproj.nuget.g.props
Stone.Charging.WebApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Stone.Charging.WebApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Stone.Charging.WebApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Stone.Charging.WebApi/obj/Debug/netcoreapp2.1/Stone.Charging.WebApi.RazorAssemblyInfo.cs
Stone.Charging.WebApi/obj/Debug/netcoreapp2.1/Stone.Charging.WebApi.AssemblyInfo.cs
Stone.Charging.Models/obj/project.assets.json
Stone.Charging.Models/obj/Stone.Charging.Models.csproj.nuget.g.targets
Stone.Charging.Models/obj/Stone.Charging.Models.csproj.nuget.g.props
Stone.Charging.Models/obj/Debug/netstandard2.0/Stone.Charging.Models.AssemblyInfo.cs
Stone.Charging.Infrastructure/obj/project.assets.json
Stone.Charging.Infrastructure/obj/Stone.Charging.Infrastructure.csproj.nuget.g.targets
Stone.Charging.Infrastructure/obj/Stone.Charging.Infrastructure.csproj.nuget.g.props
Stone.Charging.Infrastructure/obj/Debug/netstandard2.0/Stone.Charging.Infrastructure.AssemblyInfo.cs
Stone.Charging.ServiceProvider/obj/project.assets.json
Stone.Charging.ServiceProvider/obj/Stone.Charging.ServiceProvider.csproj.nuget.g.targets
Stone.Charging.ServiceProvider/obj/Stone.Charging.ServiceProvider.csproj.nuget.g.props
Stone.Charging.ServiceProvider/obj/Debug/netstandard2.0/Stone.Charging.ServiceProvider.AssemblyInfo.cs
Stone.Charging.Domain/obj/project.assets.json
Stone.Charging.Domain/obj/Stone.Charging.Domain.csproj.nuget.g.targets
Stone.Charging.Domain/obj/Stone.Charging.Domain.csproj.nuget.g.props
Stone.Charging.Domain/obj/Debug/netstandard2.0/Stone.Charging.Domain.AssemblyInfo.cs
Stone.Charging.Application/obj/project.assets.json
Stone.Charging.Application/obj/Stone.Charging.Application.csproj.nuget.g.targets
Stone.Charging.Application/obj/Stone.Charging.Application.csproj.nuget.g.props
Stone.Charging.Application/obj/Debug/netstandard2.0/Stone.Charging.Application.AssemblyInfo.cs
Stone.Charging.Models/obj/Debug/netstandard2.0/Stone.Charging.Models.csproj.FileListAbsolute.txt
Stone.Charging.Messages/obj/Debug/netstandard2.0/Stone.Charging.Messages.csproj.FileListAbsolute.txt
.vs/Stone.Charging/DesignTimeBuild/.dtbcache
Stone.Charging.UnitTest/obj/project.assets.json
Stone.Charging.UnitTest/obj/Stone.Charging.UnitTest.csproj.nuget.g.targets
Stone.Charging.UnitTest/obj/Stone.Charging.UnitTest.csproj.nuget.g.props
Stone.Charging.UnitTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Stone.Charging.UnitTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Stone.Charging.UnitTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Stone.Charging.UnitTest/obj/Debug/netcoreapp2.1/Stone.Charging.UnitTest.csproj.FileListAbsolute.txt
Stone.Charging.UnitTest/obj/Debug/netcoreapp2.1/Stone.Charging.UnitTest.csproj.CopyComplete
Stone.Charging.UnitTest/obj/Debug/netcoreapp2.1/Stone.Charging.UnitTest.Program.cs
Stone.Charging.UnitTest/obj/Debug/netcoreapp2.1/Stone.Charging.UnitTest.AssemblyInfo.cs
Stone.Charging.UnitTest/bin/Debug/netcoreapp2.1/Stone.Charging.UnitTest.runtimeconfig.json
Stone.Charging.UnitTest/bin/Debug/netcoreapp2.1/Stone.Charging.UnitTest.runtimeconfig.dev.json
Stone.Charging.UnitTest/bin/Debug/netcoreapp2.1/Stone.Charging.UnitTest.deps.json
Stone.Charging.UnitTest/bin/Debug/netcoreapp2.1/Stone.Charging.WebApi.xml
Stone.Charging.WebApi/bin/Debug/netcoreapp2.1/Stone.Charging.WebApi.deps.json
Stone.Charging.Messages/bin/Debug/netstandard2.0/Stone.Charging.Messages.deps.json
Stone.Charging.Infrastructure/obj/Debug/netstandard2.0/Stone.Charging.Infrastructure.csproj.FileListAbsolute.txt
Stone.Charging.Infrastructure/bin/Debug/netstandard2.0/Stone.Charging.Infrastructure.deps.json
Stone.Charging.DependencyInjection/obj/project.assets.json
Stone.Charging.DependencyInjection/obj/Stone.Charging.DependencyInjection.csproj.nuget.g.props
Stone.Charging.DependencyInjection/obj/Debug/netstandard2.0/Stone.Charging.DependencyInjection.csproj.FileListAbsolute.txt
Stone.Charging.DependencyInjection/bin/Debug/netstandard2.0/Stone.Charging.DependencyInjection.deps.json
Stone.Charging.Application/obj/Debug/netstandard2.0/Stone.Charging.Application.csproj.FileListAbsolute.txt
Stone.Charging.Application/bin/Debug/netstandard2.0/Stone.Charging.Application.deps.json
Stone.Charging.Domain/obj/Debug/netstandard2.0/Stone.Charging.Domain.csproj.FileListAbsolute.txt
Stone.Charging.Domain/bin/Debug/netstandard2.0/Stone.Charging.Domain.deps.json
